{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Dunoans<br />
    Rua do Boice Relacional, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    9999-9999
</address>

<address>
    <strong>Analise:</strong>   <a href="mailto:Andrey@Dunoans.com">Analise@example.com</a><br />
    <strong>Design:</strong> <a href="mailto:Bruno@Dunoans.com">Design@example.com</a>
    <strong>Codificação:</strong>   <a href="mailto:Daniel@Dunoans.com">Codificação@example.com</a><br />
    <strong>Teste:</strong>   <a href="mailto:Jonathan@Dunoans.com">Teste@example.com</a><br />
    <strong>Operação:</strong>   <a href="mailto:Leandro@Dunoans.com">Operação@example.com</a><br />
</address>

{% endblock %}
